/*Start header*/
body {
  padding: 0px;
  margin: 0px;
  background-color: #ECC1BD;
}

header {
  background-color: red;
  box-sizing: border-box;
  padding: 8px 40px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 8px;
  left: 32px;
  right: 32px;
  border-radius: 12px;
  margin-right: auto;
  position: fixed;
  z-index: 1000;
}

a.headerLogo {
  width: 219px;
  height: 54px;
  border-radius: 12px;
  background-image: url(../images/TVGD_logo.png);
  background-position: bottom;
  background-size:100%;
  background-repeat: no-repeat;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

li {
  list-style-type: none
}

#nav-menu a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:active {
  text-decoration: underline;
}

/*end Header*/



/*Start Footer*/

footer{
  height: 145px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: white;

}

.footerLogo {
  width: 219px;
  height: 54px;
  background-image: url(../images/Footer/TVGD_logo.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footerSocial {
  width: 140px;
  height: 100px;
  background-image: url(../images/Footer/social_media_icons.jpg);
  background-size: 100%;
  background-position: center;

}
/*end Footer*/