/*Start header*/
body {
  padding: 0px;
  margin-top: 70px;
  background-color: #ECC1BD;
}

header {
  background-color: #E52529;
  box-sizing: border-box;
  padding: 8px 40px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 8px;
  left: 32px;
  right: 32px;
  border-radius: 12px;
  margin-right: auto;
  position: fixed;
  z-index: 1000;
}

a.headerLogo {
  width: 219px;
  height: 54px;
  border-radius: 12px;
  background-image: url(../images/TVGD_logo.png);
  background-position: bottom;
  background-size:100%;
  background-repeat: no-repeat;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

li {
  list-style-type: none
}

#nav-menu a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

h2 a {
  color: #E52529;
}

p a {
  color: black;
}

a:active {
  text-decoration: underline;
}
/*end Header*/

/*Start Footer*/
footer{
  height: 145px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: white;

}

.footerLogo {
  width: 219px;
  height: 54px;
  background-image: url(../images/Footer/TVGD_logo.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.footerSocial {
  width: 140px;
  height: 100px;
  background-image: url(../images/Footer/social_media_icons.jpg);
  background-size: 100%;
  background-position: center;

}
/*end Footer*/


/*Start home Articles*/

.homeArticles {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.homeArticles > * {
  height: 600px;
}

.homeArticle3 {
  margin-top: 32px;
}

.homeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

h1, h2 {
  text-align: center;
  font-size: 56px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  color: white;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #E52529;
  padding: 16px 32px;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 12px;
}

.red {
  color: #E52529;
}

.homeImages {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homeImage1 {
  width: 270px;
  background-image: url(../images/Frontpage/Drinking_orange.jpg);
}

.homeImage2 {
  width: 270px;
  background-image: url(../images/Frontpage/Bottle_Jack.jpg);
}

.homeArticle1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.homeArticle1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homeArticle2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.homeArticle3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.groups {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin: 0px 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.groups div {
  text-align: center;
  font-size: 56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
}

.homeImage3 {
  background-image: url(../images/Frontpage/apperitief.png);
  width: 100%;
}

.homeImage4 {
  background-image: url(../images/Frontpage/assortiment.jpg);
  width: 100%;
}

.homeImage5 {
  background-image: url(../images/Frontpage/About_frontpage.jpg);
  width: 100%;
}

.homeImage6 {
  background-image: url(../images/About/ons_verhaal.jpg);
  width: 100%;
}

.homeImage7 {
  background-image: url(../images/About/passion_led_us_here.jpg);
  width: 100%;
}

.homeImage8 {
  background-image: url(../images/About/ons_vereniging.jpg);
  width: 100%;
}

.homeImage9 {
  background-image: url(../images/About/About_frontpage.jpg);
  width: 100%;
}
/*end home Articles*/

/*Start drinks*/
.categories {
  margin-top: 300px;
}
.filters {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  top: 90px;
  left: 32px;
  right: 32px;
  border-radius: 12px;
  margin-right: auto;
  position: fixed;
  z-index: 1000;
}

.button2 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #E52529;
  padding: 16px 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 12px;
}

.DrinksSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.topScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
}

.drinksHead {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.drinksTitle h1 {
  margin-left: 32px;
  text-align: left;
}

.drinkHeaderImage {
  background-image: url(../images/Frontpage/assortiment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 50%;
  height: 300px;
}

.componentsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 64px;
  align-items: center;
  padding: 8px 64px;
  background-color: white;
  border-radius: 12px;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.components h2 {
  text-align: left;
}

.components p {
  font-weight: bold;
  width: 250px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.details span {
  font-size: 16px;
}

.drankImage {
  background-image: url(../images/dranken/smirnof_vodka.webp);
  width: 80px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*end drinks*/
/*Start entry*/
.gapTop {
  margin-top: 100px;
  margin-bottom: 50px;
}

#widthNow p{
  width: 400px;
}

/*end entry*/