{% extends "_layout.twig" %}

{% block content %}
        <article class="homeArticle3">
            <div class="groups group1">
                <h2> What we are all <br> <div class="red">About</div></h2>
                <p>Eerst en vooral wij zijn de nummer 1 website in drankverkoop. Maar we zijn meer dan dat. Ondek dit allemaal.</p>
                <a href="#" class="button">Get to know us</a>
            </div>
            <div class="homeImage5 homeImages"></div>

        </article>

{% endblock %}