{% extends "_layout.twig" %}

{% block content %}
    <section class="homeArticles">

        <div class="homeHeader">
            <h1> {{aboutUs.header1}}</h1>
            <div class="homeImages homeImage6"></div>
        </div>

        <article class="homeArticle1">
            <div class="groups group1">
                {{aboutUs.onsAssortiment}}
            </div>
            <div class="homeImage7 homeImages"></div>
        </article>
        <article class="homeArticle2">
            <div class="groups group1">
                {{aboutUs.enkelAlcohol}}
            </div>
            <div class="homeImage8 homeImages"></div>
        </article>
        <article class="homeArticle3">
            <div class="groups group1">
                {{aboutUs.whatWeAreAllAbout}}
            </div>
            <div class="homeImage9 homeImages"></div>

        </article>
        
    </section>

{% endblock %}