<div class="homeHeader">
    <div class="homeImages homeImage1"></div>
    <h1> Welcome to <br> <div class="red">"The very good drinks"</div></h1>
    <div class="homeImages homeImage2"></div>
</div>
