{% extends "_layout.twig" %}

{% block content %}

    <section class="DrinksSection">
        <div class="topScreen">
            <div class="drinksHead">
                <div class="filters">
                    <a href="#" class="button2">Alcohol</a>
                    <a href="#" class="button2">Geen alcohol</a>
                    <a href="#" class="button2">Alles</a>
                </div>
                <div class="drinksTitle">
                    <h1> All <br> <div class="red"> Drinks </div></h1>
                </div>
            </div>  
            <div class="drinkHeaderImage"></div>
        </div>
        
        <article class="componentsDiv">
            <div class="components">
                <h2><a href="#">Smirnoff</a></h2>
                <div>
                    <span> €20,95 </span><span> 7% </span>
                </div>
                <p><a href="#">Geniet je graag van Smirnoff Vodka? Kies dan voor deze Smirnoff Vodka 1 liter fles.</a></p>
            </div>


            <div class="drankImage"></div>
        </article>

    </section>

{% endblock %}
