{% extends "_layout.twig" %}

{% block content %}



    <section class="DrinksSection">
        <div class="topScreen">
            <div class="drinksHead">
                <div class="filters">
                    <a href="#" class="button2">Alcohol</a>
                    <a href="#" class="button2">Geen alcohol</a>
                    <a href="#" class="button2">Alles</a>
                </div>
                <div class="drinksTitle">
                    <h1> All <br> <div class="red"> Drinks </div></h1>
                </div>
            </div>  
            <div class="drinkHeaderImage"></div>
        </div>
        
        {% set entries = craft.entries().section('drinks').all() %}
    
        {% for entry in entries %}
        <article class="componentsDiv">
            <div class="components">
                <h2><a href="#">{{entry.title}}</a></h2>
                <div class="details">
                    <span>€ {{entry.priceDrinks}} </span><span> {{entry.alcoholPercentage}}% alcohol </span>
                </div>
                <p><a href="#">{{entry.introduction}}</a></p>
            </div>


            <div class="drankImage"></div>
        </article>    
        {% endfor %}  
        

    </section>

{% endblock %}
