{% extends "_layout.twig" %}

{% block content %}

    <section class="homeArticles">

        <article class="homeArticle2">
            <div class="groups group1">
                <h2> Enkel <br> <div class="red">Alcohol</div></h2>
                <p> Wil je je een avond organiseren met drank? Kijk dan zeker door ons assortiment met alcohol. Voor iedereen is er iets. 
                    <br>
                    <br>
                    Vergeet niet ons vakmanschap drink je met verstand. 
                </p>
                <a href="#" class="button">Bekijk al onze dranken hier</a>
            </div>
            <div class="homeImage4 homeImages"></div>
        </article>
        <article class="homeArticle3">
            <div class="groups group1">
                <h2> What we are all <br> <div class="red">About</div></h2>
                <p>Eerst en vooral wij zijn de nummer 1 website in drankverkoop. Maar we zijn meer dan dat. Ondek dit allemaal.</p>
                <a href="#" class="button">Get to know us</a>
            </div>
            <div class="homeImage5 homeImages"></div>

        </article>
        
    </section>

{% endblock %}
