{% extends "_layout.twig" %}

{% block content %}

    <section class="homeArticles">

        <div class="homeHeader">
            <div class="homeImages homeImage1"></div>
            <h1> {{home.header1}}</h1>
            <div class="homeImages homeImage2"></div>
        </div>

        <article class="homeArticle1">
            <div class="groups group1">
                <h2> ons <br> <div class="red">Assortiment</div></h2>
                <p>Heb jij een feest of denk je een kleine avond te organiseren. Twijfel dan zeker niet om ons assortiment te bekijken. We beloven je de beste kwaliteit aan dranken en de meeste keuze. Zowel met als zonder alcohol</p>
                <a href="#" class="button">Bekijk al onze dranken hier</a>
            </div>
            <div class="homeImage3 homeImages"></div>
        </article>
        <article class="homeArticle2">
            <div class="groups group1">
                <h2> Enkel <br> <div class="red">Alcohol</div></h2>
                <p> Wil je je een avond organiseren met drank? Kijk dan zeker door ons assortiment met alcohol. Voor iedereen is er iets. 
                    <br>
                    <br>
                    Vergeet niet ons vakmanschap drink je met verstand. 
                </p>
                <a href="#" class="button">Bekijk al onze dranken hier</a>
            </div>
            <div class="homeImage4 homeImages"></div>
        </article>
        <article class="homeArticle3">
            <div class="groups group1">
                <h2> What we are all <br> <div class="red">About</div></h2>
                <p>Eerst en vooral wij zijn de nummer 1 website in drankverkoop. Maar we zijn meer dan dat. Ondek dit allemaal.</p>
                <a href="#" class="button">Get to know us</a>
            </div>
            <div class="homeImage5 homeImages"></div>

        </article>
        
    </section>

{% endblock %}
